.card__like-btn {
  all: initial;
  padding: 0;
  background-image: url('../../../images/like-btn.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.card__like-btn:hover {
  opacity: 0.5;
}